<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>

<body>
    <h1>welcome {{data}}</h1>
    <form action="">
        <table border="">
            <tr>
                <th>name</th>
                <th>place</th>
            </tr>
            <tr>
                <td>fasil</td>
                <td>kozhikode</td>
                <td><a href="/edits_get/">edit</a>
                </td>
            </tr>
        </table>


        <a href="/views_get/">view profile</a>
        <a href="/changes_get/">change password</a>
        <a href="/viewcoms_get/">view complaits</a>
        <a href="/product_get/">ADD PRODUCT</a>
        <a href="/view_pros_get/">VIEW PRODUCT</a>
        
        

    </form>

</body>

</html>