<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>

<body>
    <h1>welcome {{data}}</h1>
    <form action="">
        <table border="">
            <tr>
                <th>name</th>
                <th>place</th>
            </tr>
            <tr>
                <td>fahid</td>
                <td>kozhikode</td>
                <td>
                    
                    <a href="/editu_get/">edit</a>
                </td>

            </tr>





        </table>




        <a href="/view_get/">view profile</a>
        <a href="/changeu_get/">change password</a>
        <a href="/sndcomp_get/">snd complaint</a>
        <a href="/viecom_get/">view_complaint</a>
        <a href="/viewprou_get/">VIEW PRODUCT</a>
        <a href="/vieworderu_get/">VIEW ORDER</a>
        <a href="/viewcart_get/">VIEW CART</a>


    </form>

</body>

</html>