<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>complaints</title>
</head>
<body>
<table border="">
       <tr>
            <th>Sl. No</th>
            <th>User</th>
            <th>Date</th>
            <th>Complaint</th>
            <th>Reply</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.user.uname }}</td>
            <td>{{ i.date }}</td>
            <td>{{ i.complaint }}</td>
            <td><a href="/sndreply_get/{{i.id}}">reply</a></td>
            
        {% endfor %}

        

</table>


    
</body>
</html>