<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>complaints</title>
</head>
<body>
<table border="">
       <tr>
            <th>Sl. No</th>
            <th>PRODUCT NAME</th>
            <th>PRICE</th>
            <th>DESCRIPTION</th>
            <th>IMAGE</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.pname }}</td>
            <td>{{ i.price }}</td>
            <td>{{ i.description }}</td>
            <td><img src="{{i.image}}" ></td>
            <td><a href="/qty_get/{{i.id}}">ADD TO CART</a>
            <td><a href="/buy_get/{{i.id}}">BUY</a>
                

        {% endfor %}

        

</table>



    
</body>
</html>