<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROFILE</title>
</head>
<body>
<table border="">
        <tr>
            <th>{{data.uname}}</th>
            <th>{{data.email}}</th>
            <th>{{data.phone}}</th>
            <th>{{data.dob}}</th>
            <th>{{data.gender}}</th>
            <th><img src="{{data.uplode}}" ></th>
                        <td><a href="/editu_get/">edit</a></td>

        </tr>   

        

</table>


    
</body>
</html>