<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>complaints</title>
</head>
<body>
<table border="">
        <tr>
            <th>slno</th>
            <th>complaints</th>
            <th>reply</th>
        </tr>   
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.complaint}}</td>
            <td>{{i.reply}}</td>
        </tr>
          
        {% endfor %}

        

</table>


    
</body>
</html>